/*-****************************general CSS**********************-*/
*{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #d6ddec;
}
.container{
    width: 100%;
}
/*-****************************Encabezado***********************-*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color:#BFB5D7;
}
header h3{
    font-size: 35px;
    color: #3C485E;
    padding: 10px;
}
.parrafo {
    font-size: 20px;
    margin: 5px;
    text-align: justify;
    background-color: white;
}
.black{
    color: black
}
.pink{
    color: rgb(214, 93, 114);
}
.parrafo{
    border: 1px solid black;
    padding: 1%;
}
.parrafo strong{
    color:rgb(21, 71, 71);
    cursor: pointer;
}
i{
    color: rgb(139, 41, 139);
}
.parrafo b{
    color: goldenrod;
}
/*-****************************Sección principal***********************-*/
main{
    display: flex;
    flex-direction: column;
}
.section-1, .section-2, .section-3, .section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #97a4bd;
}
.section-1{
    border-bottom: 10px solid #3c4455;
    border-top: 10px solid #3c4455;
}
.section-2, .section-3{
    border-bottom: 10px solid #3c4455;
}
.section-1 h2, .section-2 h2{
    margin: 15px;
    font-size: 35px;
}
.section-3 h3{
    color: rgb(225, 229, 248);
    font-size: 25px;
    margin: 15px;
}
.section-1 p, .section-2 p, .section-4 p{
    border: 1px solid black;
    width: 75%;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    background-color: #d6ddec;
}
.section-3 h6{
    border: 1px solid black;
    width: 75%;
    margin: 25px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: #d6ddec;
}
.section-3 p{
    padding-top: 15px;
    text-align: center;
    color: rgb(225, 229, 248);
}
.superlist{
    width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
.superlist h5{
    margin: 15px;
    font-size: 25px;
}
.lista, .lista2{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.card{
    background-color: #090f1a;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    margin: 5px;
    width: 45%;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}
.card a, .card li{
    padding-top: 15px;
    text-align: center;
    color: rgb(225, 229, 248);
}
img{
    width: 100px;
    height: 100px;
}
.lista2 img{
    width: 100px;
    height: 150px;
}
.section-3 img{
    width: 200px;
    height: 250px;
}
/*-****************************Pantallas maximas de 768px***********************-*/
@media(max-width:768px){
    .card{
        width: 95%;
    }
    header{
        flex-direction: column;
    }
    .section-1 p, .section-2 p, .section-4 p, .section-3 h6{
        width: 60%;
    }
}
/*-****************************Pantallas mayores de 1024px***********************-*/
@media(min-width:1024px){
    .card{
        width: 30%;
    }
    .superlist{
    border:none;
    }
    .section-1 p, .section-2 p, .section-4 p, .section-3 h6{
        width: 95%;
    }
    .lista, .lista2{
        width: 100%;
        flex-wrap: nowrap;
    }
}
