/* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #3f4142;
    background-color: #f8dfe1;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

/* ------------- Encabezado Contacto ------------- */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #76aeed;
    border: 2px solid #6a6b6d;
    border-radius: 5px;
    margin: 10px auto;
    width: 95%;
    padding: 20px;
}

header h1 {
    color: #303031;
    font-size: 30px;
    margin-bottom: 20px;
}

header p {
    color: #303031;
    font-size: 25px;
}

/* ------------- Formulario ------------- */
.formulario {
    background-color: #f6f7f8;
    border: 2px solid #84a4c4;
    border-radius: 3px;
    padding: 20px;
    margin: 30px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------- Campos del Formulario ------------- */
.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[placeholder],
.form-row textarea[placeholder] {
    text-align: center;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row textarea {
    background-color: #dfdede;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    min-height: 200px;
    resize: none;
}

/* ------------- Boton ------------- */
.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4089db;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    margin-top: 5px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #0b4e9b;
}

/* ------------- Alerta ------------- */

.alertas{
    display: flex;
    justify-content: center;
}

/* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 768px) {
    header {
        padding: 50px;
        width: 80%;
        height: auto;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row input[type="tel"] {
        width: 50%;
    }

    .form-row textarea {
        width: 50%;
        min-height: 100px;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
}


