
/*-****************************General CSS***********************-*/
body{
    background-color: #F8EBEE;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*-****************************Cards de certificados***********************-*/
.certificado{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    width: 95%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 1em;
}
.certificado img {
    width: 80%;
    height: 60%;
    border-radius: 5%;
}
/*-****************************Pantallas mayores a 768px***********************-*/
@media(min-width:768px){
    .certificado{
        width: 45%;
    }
}
/*-****************************Pantallas mayores a 1024px***********************-*/
@media(min-width:1024px){
    .certificado{
        width: 30%;
    }
}


